<div class="animate"
     *ngIf="model$ | async as model"
     [formGroup]="form">

  <div class="header">

    <div class="header-text">
      <h3>Persona {{model.order}}</h3>

      <h1>{{model.name}}</h1>

      <p>{{model.contactsCount}} contacts</p>
    </div>

    <div class="search-wrapper ab"
         *ngIf="model?.contactsCount">
      <label class="search">
        <input matInput
               (keyup)="searchContacts($event.target.value, model.id)"
               placeholder="Search...">
        <mat-icon matSuffix>search</mat-icon>
      </label>
      <button mat-flat-button
              (click)="select.open()"
              color="primary">
        <mat-icon>filter_list</mat-icon>
        <mat-select #select
                    class="ab"
                    formControlName="displayedColumns"
                    [value]="[1, 2, 3]"
                    multiple>
          <mat-option *ngFor="let column of allColumns"
                      [value]="column">
            {{contactsTableColumns[column]}}
          </mat-option>
        </mat-select>
      </button>
    </div>

  </div>

  <ng-container *ngIf="contactsPage$ | async as contactsPage">

    <div [ngClass]="(loading$ | async) && 'spinner'">

      <div class="spinner-wrapper ab"
           *ngIf="(loading$ | async)">
        <mat-spinner></mat-spinner>
      </div>

      <ab-empty-persona *ngIf="!model?.contactsCount">
      </ab-empty-persona>

      <mat-table mat-table
                 [dataSource]="model.contacts"
                 [trackBy]="trackByFn"
                 matSort
                 (matSortChange)="sortContacts($event)"
                 [matSortDisableClear]="'true'"
                 matSortActive="fullName"
                 matSortDirection="asc"
                 *ngIf="model?.contactsCount"
                 class="ab mat-elevation-z8">

        <ng-container matColumnDef="fullName">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Full name
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.fullName"
                    matTooltipPosition="above">
            <div>
              <div>
                <img *ngIf="element.image"
                     [src]="element.image"
                     alt="User's picture">
                <figure *ngIf="!element.image">
                  {{userInitials(element.fullName)}}
                </figure>
              </div>
              <div>{{element.fullName}}</div>
            </div>
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="jobTitle">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Job title
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.jobTitle"
                    matTooltipPosition="above">
            {{element.jobTitle}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="lastActivityDate">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Last activity date
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.lastActivityDate"
                    matTooltipPosition="above">
            {{element.lastActivityDate}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Email
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.email"
                    matTooltipPosition="above">
            {{element.email}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Phone
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.phone"
                    matTooltipPosition="above">
            {{element.phone}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="company">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Company
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.company"
                    matTooltipPosition="above">
            {{element.company}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="industry">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Industry
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.industry"
                    matTooltipPosition="above">
            {{element.industry}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="companyLocation">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Company location
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.companyLocation"
                    matTooltipPosition="above">
            {{element.companyLocation}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="technologies">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Technologies
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.technologies"
                    matTooltipPosition="above">
            {{element.technologies}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="contactLocation">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Contact location
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.contactLocation"
                    matTooltipPosition="above">
            {{element.contactLocation}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="fundingStage">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Funding stage
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.fundingStage"
                    matTooltipPosition="above">
            {{element.fundingStage}}
          </mat-cell>
        </ng-container>

        <ng-container matColumnDef="numberOfEmployees">
          <mat-header-cell *matHeaderCellDef
                           mat-sort-header>
            Number of employees
          </mat-header-cell>
          <mat-cell *matCellDef="let element"
                    [matTooltip]="element.numberOfEmployees"
                    matTooltipPosition="above">
            {{element.numberOfEmployees}}
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="form.controls.displayedColumns.value">
        </mat-header-row>
        <mat-row *matRowDef="let row; columns: form.controls.displayedColumns.value;">
        </mat-row>

      </mat-table>

    </div>

    <mat-paginator class="ab"
                   *ngIf="model?.contactsCount"
                   [pageSizeOptions]="contactsPage.pageSizeOptions"
                   [length]="model?.contactsCount"
                   [pageSize]="contactsPage.pageSize"
                   [pageIndex]="contactsPage.pageIndex"
                   (page)="pageChange($event, model.id, contactsPage)">
    </mat-paginator>

  </ng-container>

</div>