<ng-container *ngIf="model$ | async as model">

  <div class="header">

    <div class="header-text">
      <h3>Persona {{model.order}}</h3>

      <h1>{{model.name}}</h1>

      <p>{{model.contactsCount}} contacts</p>
    </div>

    <mat-form-field>
      <mat-label>Search</mat-label>
      <input matInput
             (keyup)="applyFilter($event)"
             placeholder="Filter prospects">
    </mat-form-field>

  </div>

  <mat-table mat-table
             [dataSource]="model.contacts"
             matSort
             class="ab mat-elevation-z8">

    <ng-container matColumnDef="firstName">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>
        First Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.firstName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>
        Last Name
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.lastName}}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef
                       mat-sort-header>
        Email
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.email}}
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>

  </mat-table>

</ng-container>

<mat-paginator *ngIf="model$ | async as model"
               [pageSizeOptions]="[10, 25, 50, 100]"
               [length]="model?.contactsCount"
               (page)="pageChange($event, model.id)">
</mat-paginator>