@use '../../../styles/variables' as var;
@use '../personas.component';
@use '../persona/persona.component';

.header {

  display: flex;
  justify-content: space-between;
  align-items: flex-end;

  .header-text {

    h1 {
      @include persona.h1-text;
    }
    
    h3 {
      @include personas.h3-text;
      margin-bottom: 5px;
    }
    
    p {
      @include personas.p-text;
    }

  }

  .search-wrapper {

    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 30%;
    margin-bottom: 17px;

    .search {

      margin-right: 12px;
      width: 290px;
      height: 34px;
      display: flex;
      align-items: center;
      border-radius: 4px;
      border: solid 1px var.$grey4;
      background-color: white;
      padding: 10px 5px 10px 10px;

      input {
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        line-height: normal;
        letter-spacing: 0.2px;
        color: var.$grey9;  
      }

      .mat-icon {
        height: auto;
        width: auto;
        font-size: 20px;
        color: var.$aqua;
        cursor: pointer;
      }

    }

    button {

      width: 34px;
      min-width: 34px;
      height: 34px;
      background-color: var.$aqua;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .mat-select {
        visibility: hidden;
        position: absolute;
        top: 34px;
      }

    }

  }

}

.spinner {
  
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.04);
    z-index: 1;
  }

  .spinner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

.mat-table.ab {

  box-shadow: none;
  background: transparent;

  .mat-header-row {
    
    border-bottom: none;
    padding: 0 10px 0 5px;
    min-height: 38px;

    .mat-header-cell {
      padding: 0 5px;
      position: relative;
      hyphens: auto;
    }

  }

  .mat-row {

    height: 44px;
    position: relative;
    padding: 10px 10px 10px 5px;
    border: 1px solid var.$lightGrey2;
    border-radius: 4px;
    background-color: white;
    margin-bottom: 5px;

    &:hover {
      box-shadow: 0 15px 20px -5px rgba(171, 174, 199, 0.5);
      z-index: 2;
    }

    .mat-cell {

      font-size: 12px;
      letter-spacing: 0.2px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      display: block;
      line-height: 24px;
      min-height: 24px;
      padding: 0 5px;

      &:first-child {
        color: var.$aqua;
      }

      & > div {

        display: flex;

        & > div:first-child {

          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          margin-right: 8px;
          border-radius: 50%;
          font-size: 10px;
          line-height: normal;
          letter-spacing: 0.17px;
          color: white;
          background-color: var.$aqua;
          flex-shrink: 0;
  
          img {
            width: 24px;
            height: 24px;
            border-radius: 50%;
          }

        }

        & > div:nth-child(2) {
          text-overflow: ellipsis;
          overflow: hidden;
        }
        
      }

    }

  }

}
