<div class="h3-wrapper">
  <mat-icon>info</mat-icon>
  <h3>Persona 12</h3>
</div>

<div class="wrapper"
     [formGroup]="form">

  <div class="controls-wrapper">
    <div>
      <span mat-icon-button
            [matMenuTriggerFor]="removeMenu"
            aria-label="Remove persona">
        <mat-icon>more_vert</mat-icon>
      </span>
      <mat-menu #removeMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Remove persona</span>
        </button>
      </mat-menu>
      <ab-toggle inputFormControlName="disabled">
      </ab-toggle>
    </div>
    <ab-arrow [expanded]="form.value.expanded['block']"
              (toggle)="toggleItem('block')">
    </ab-arrow>
  </div>

  <h1>Head of Sales</h1>

  <p>34 contacts</p>

  <div class="block-wrapper"
       *ngIf="form.value.expanded['block']"
       [@slideInOut]>

    <div class="info-block">

      <div class="info-block-header">
        <h4>
          <mat-icon>person</mat-icon>
          Contacts attributes
        </h4>
        <ab-arrow [expanded]="form.value.expanded['contacts']"
                  (toggle)="toggleItem('contacts')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['contacts']"
           [@slideInOut]>

        <div class="group">

          <div class="group-label">Job department</div>

          <mat-form-field class="ab"
                          [floatLabel]="'never'">

            <mat-select formControlName="jobDepartment"
                        placeholder="Select job department"
                        multiple>

              <mat-select-trigger>
                <mat-chip-list abTagsTruncate>
                  <mat-chip *ngFor="let job of form.value.jobDepartment"
                            [removable]="true"
                            (removed)="onTagRemoved(job)">
                    {{job}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let job of jobDepartments"
                          [value]="job">{{job}}</mat-option>

            </mat-select>

          </mat-form-field>

        </div>

        <div class="group">

          <div class="group-label">Job title</div>

          <mat-radio-group aria-label="Select an option"
                           class="radio-group ab chips-input"
                           formControlName="jobTitleOption">

            <mat-radio-button value="1">Contains</mat-radio-button>

            <ng-container *ngIf="form.value.jobTitleOption==='1' 
                                  || form.value.jobTitleOption==='3'
                                  || form.value.jobTitleOption==='4'">
              <ng-container *ngTemplateOutlet="chipsInput">
              </ng-container>
            </ng-container>

            <mat-radio-button value="2">Doesn't contain</mat-radio-button>

            <ng-container *ngIf="form.value.jobTitleOption==='2'">
              <ng-container *ngTemplateOutlet="chipsInput">
              </ng-container>
            </ng-container>

            <mat-radio-button value="3">Is known</mat-radio-button>

            <mat-radio-button value="4">Is unknown</mat-radio-button>

          </mat-radio-group>

        </div>

        <div class="group">

          <div class="group-label">Seniority</div>

          <mat-form-field class="ab"
                          [floatLabel]="'never'">

            <mat-select formControlName="jobDepartment"
                        placeholder="Select seniority"
                        multiple>

              <mat-select-trigger>
                <mat-chip-list abTagsTruncate>
                  <mat-chip *ngFor="let job of form.value.jobDepartment"
                            [removable]="true"
                            (removed)="onTagRemoved(job)">
                    {{job}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let job of jobDepartments"
                          [value]="job">{{job}}</mat-option>

            </mat-select>

          </mat-form-field>

        </div>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header">
        <h4>
          <mat-icon>corporate_fare</mat-icon>
          Company attributes
        </h4>
        <ab-arrow [expanded]="form.value.expanded['company']"
                  (toggle)="toggleItem('company')">
        </ab-arrow>
      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header">
        <h4>
          <mat-icon>business_center</mat-icon>
          Industry
        </h4>
        <ab-arrow [expanded]="form.value.expanded['industry']"
                  (toggle)="toggleItem('industry')">
        </ab-arrow>
      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header">
        <h4>
          <mat-icon>location_on</mat-icon>
          Location
        </h4>
        <ab-arrow [expanded]="form.value.expanded['location']"
                  (toggle)="toggleItem('location')">
        </ab-arrow>
      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header">
        <h4>
          <mat-icon>construction</mat-icon>
          Technologies
        </h4>
        <ab-arrow [expanded]="form.value.expanded['technologies']"
                  (toggle)="toggleItem('technologies')">
        </ab-arrow>
      </div>

    </div>

  </div>

</div>

<ng-template #chipsInput>
  <mat-form-field [floatLabel]="'never'">
    <mat-chip-list #chipList
                   aria-label="Job title selection">
      <mat-chip *ngFor="let job of jobTitles">
        {{job}}
        <mat-icon matChipRemove>close</mat-icon>
      </mat-chip>
      <input placeholder="Input job titles"
             [matChipInputFor]="chipList"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="add($event)">
    </mat-chip-list>
  </mat-form-field>
</ng-template>