<div class="h3-wrapper">
  <mat-icon>info</mat-icon>
  <h3>Persona {{persona.order}}</h3>
</div>

<div class="wrapper"
     [formGroup]="form">

  <div class="controls-wrapper">
    <div>
      <span mat-icon-button
            [matMenuTriggerFor]="removeMenu"
            aria-label="Remove persona">
        <mat-icon>more_vert</mat-icon>
      </span>
      <mat-menu #removeMenu="matMenu">
        <button mat-menu-item>
          <mat-icon>delete</mat-icon>
          <span>Remove persona</span>
        </button>
      </mat-menu>
      <ab-toggle inputFormControlName="active">
      </ab-toggle>
    </div>
    <ab-arrow [expanded]="form.value.expanded['block']"
              (toggle)="toggleItem('block')">
    </ab-arrow>
  </div>

  <h1>{{persona.name}}</h1>

  <p>{{persona.contacts ? persona.contactsCount : 34}} contacts</p>

  <div class="block-wrapper"
       [ngClass]="!form.value.active && 'block-disabled'"
       *ngIf="form.value.expanded['block']">

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('contacts')">
        <h4>
          <mat-icon>person</mat-icon>
          Contacts attributes
        </h4>
        <ab-arrow [expanded]="form.value.expanded['contacts']"
                  (toggle)="toggleItem('contacts')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['contacts']"
           [@slideInOut]>

        <div class="group">

          <div class="group-label">Job department</div>

          <mat-form-field class="ab"
                          [floatLabel]="'never'">

            <mat-select formControlName="jobDepartment"
                        placeholder="Select job department"
                        (selectionChange)="selectChange($event)"
                        [disabled]="!form.value.active"
                        multiple>

              <mat-select-trigger>
                <mat-chip-list abTagsTruncate
                               [disabled]="!form.value.active">
                  <mat-chip *ngFor="let job of form.value.jobDepartment"
                            [removable]="true"
                            (removed)="tagRemove('jobDepartment', job)">
                    {{job}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let job of selectOptions.jobDepartment"
                          [value]="job">
                {{job}}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>

        <div class="group">

          <div class="group-label">Job title</div>

          <mat-radio-group aria-label="Select an option"
                           class="radio-group ab chips-input"
                           formControlName="jobTitleOption"
                           [disabled]="!form.value.active">

            <mat-radio-button [value]="condition.contains">
              Contains
            </mat-radio-button>

            <ng-container *ngIf="form.value.jobTitleOption===condition.contains 
                                  || form.value.jobTitleOption===condition.isKnown 
                                  || form.value.jobTitleOption===condition.isUnknown">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { controlName: 'jobTitles', placeholder: 'Input job titles' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.doesNotContain">
              Doesn't contain
            </mat-radio-button>

            <ng-container *ngIf="form.value.jobTitleOption===condition.doesNotContain">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { controlName: 'jobTitles', placeholder: 'Input job titles' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.isKnown">
              Is known
            </mat-radio-button>

            <mat-radio-button [value]="condition.isUnknown">
              Is unknown
            </mat-radio-button>

          </mat-radio-group>

        </div>

        <div class="group">

          <div class="group-label">Seniority</div>

          <mat-form-field class="ab"
                          [floatLabel]="'never'">

            <mat-select formControlName="seniority"
                        placeholder="Select seniority"
                        [disabled]="!form.value.active"
                        multiple>

              <mat-select-trigger>
                <mat-chip-list abTagsTruncate
                               [disabled]="!form.value.active">
                  <mat-chip *ngFor="let level of form.value.seniority"
                            [removable]="true"
                            (removed)="tagRemove('seniority', level)">
                    {{level}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let level of selectOptions.seniority"
                          [value]="level">
                {{level}}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('contactsLocation')">
        <h4>
          <mat-icon>location_on</mat-icon>
          Contacts Location
        </h4>
        <ab-arrow [expanded]="form.value.expanded['contactsLocation']"
                  (toggle)="toggleItem('contactsLocation')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['contactsLocation']"
           [@slideInOut]>

        <ng-container *ngTemplateOutlet="location; 
           context: { controlNamePrefix: 'contacts' }">
        </ng-container>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('company')">
        <h4>
          <mat-icon>corporate_fare</mat-icon>
          Company attributes
        </h4>
        <ab-arrow [expanded]="form.value.expanded['company']"
                  (toggle)="toggleItem('company')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['company']"
           [@slideInOut]>

        <div class="group">

          <div class="group-label">Revenue</div>

          <mat-radio-group aria-label="Select an option"
                           class="radio-group ab chips-input"
                           formControlName="revenueOption">

            <mat-radio-button [value]="condition.contains">
              Is between
            </mat-radio-button>

            <div class="range-inputs-wrapper">
              <label>
                <input formControlName="revenueMin"
                       mask="000000000000000">
              </label>
              and
              <label>
                <input formControlName="revenueMax">
              </label>
            </div>

            <mat-radio-button [value]="condition.isKnown"
                              mask="000000000000000">
              Is known
            </mat-radio-button>

            <mat-radio-button [value]="condition.isUnknown">
              Is unknown
            </mat-radio-button>

          </mat-radio-group>

        </div>

        <div class="group">

          <div class="group-label">Funding stage</div>

          <mat-form-field class="ab"
                          [floatLabel]="'never'">

            <mat-select formControlName="fundingStage"
                        placeholder="Select funding stage"
                        (selectionChange)="selectChange($event)"
                        multiple>

              <mat-select-trigger>
                <mat-chip-list abTagsTruncate>
                  <mat-chip *ngFor="let stage of form.value.fundingStage"
                            [removable]="true"
                            (removed)="tagRemove('fundingStage', stage)">
                    {{stage}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let stage of selectOptions.fundingStage"
                          [value]="stage">
                {{stage}}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>

        <div class="group">

          <div class="group-label">Number of employees</div>

          <mat-form-field class="ab"
                          [floatLabel]="'never'">

            <mat-select formControlName="numberOfEmployees"
                        placeholder="Select number of employees"
                        (selectionChange)="selectChange($event)"
                        multiple>

              <mat-select-trigger>
                <mat-chip-list abTagsTruncate>
                  <mat-chip *ngFor="let number of form.value.numberOfEmployees"
                            [removable]="true"
                            (removed)="tagRemove('numberOfEmployees', number)">
                    {{number}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let number of selectOptions.numberOfEmployees"
                          [value]="number">
                {{number}}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('companyLocation')">
        <h4>
          <mat-icon>location_on</mat-icon>
          Company Location
        </h4>
        <ab-arrow [expanded]="form.value.expanded['companyLocation']"
                  (toggle)="toggleItem('companyLocation')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['companyLocation']"
           [@slideInOut]>

        <ng-container *ngTemplateOutlet="location; 
           context: { controlNamePrefix: 'company' }">
        </ng-container>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('industry')">
        <h4>
          <mat-icon>business_center</mat-icon>
          Industry
        </h4>
        <ab-arrow [expanded]="form.value.expanded['industry']"
                  (toggle)="toggleItem('industry')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['industry']"
           [@slideInOut]>

        <div class="group">

          <mat-radio-group aria-label="Select an option"
                           class="radio-group ab chips-input"
                           formControlName="industryOption">

            <mat-radio-button [value]="condition.contains">
              Is any of
            </mat-radio-button>

            <ng-container *ngIf="form.value.industryOption===condition.contains 
                                  || form.value.industryOption===condition.isKnown 
                                  || form.value.industryOption===condition.isUnknown">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { controlName: 'industries', placeholder: 'Input industries' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.doesNotContain">
              Is none of
            </mat-radio-button>

            <ng-container *ngIf="form.value.industryOption===condition.doesNotContain">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { controlName: 'industries', placeholder: 'Input industries' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.isKnown">
              Is known
            </mat-radio-button>

            <mat-radio-button [value]="condition.isUnknown">
              Is unknown
            </mat-radio-button>

          </mat-radio-group>

        </div>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('technologies')">
        <h4>
          <mat-icon>construction</mat-icon>
          Technologies
        </h4>
        <ab-arrow [expanded]="form.value.expanded['technologies']"
                  (toggle)="toggleItem('technologies')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['technologies']"
           [@slideInOut]>

        <div class="group">

          <mat-radio-group aria-label="Select an option"
                           class="radio-group ab chips-input"
                           formControlName="technologiesOption">

            <mat-radio-button [value]="condition.contains">
              Is any of
            </mat-radio-button>

            <ng-container *ngIf="form.value.technologiesOption===condition.contains 
                                  || form.value.technologiesOption===condition.isKnown 
                                  || form.value.technologiesOption===condition.isUnknown">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { controlName: 'technologies', placeholder: 'Input technologies' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.doesNotContain">
              Is none of
            </mat-radio-button>

            <ng-container *ngIf="form.value.technologiesOption===condition.doesNotContain">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { controlName: 'technologies', placeholder: 'Input technologies' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.isKnown">
              Is known
            </mat-radio-button>

            <mat-radio-button [value]="condition.isUnknown">
              Is unknown
            </mat-radio-button>

          </mat-radio-group>

        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #chipsInput
             let-controlName="controlName"
             let-placeholder="placeholder">
  <mat-form-field [floatLabel]="'never'">
    <mat-chip-list #chipList
                   [disabled]="!form.value.active"
                   aria-label="Tags selection">
      <mat-chip *ngFor="let job of form.get(controlName)?.value"
                [removable]="true"
                (removed)="tagRemove(controlName, job)">
        {{job}}
        <mat-icon matChipRemove>close</mat-icon>
      </mat-chip>
      <input autocomplete="off"
             [placeholder]="placeholder"
             [matChipInputFor]="chipList"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="tagAdd(controlName, $event)">
    </mat-chip-list>
  </mat-form-field>
</ng-template>

<ng-template #location
             let-controlNamePrefix="controlNamePrefix">

  <div class="group">
    <div class="group-label">City</div>
    <div class="ab chips-input">
      <ng-container *ngTemplateOutlet="chipsInput; 
        context: { controlName: controlNamePrefix + 'Cities', placeholder: 'Input cities' }">
      </ng-container>
    </div>
  </div>

  <div class="group">
    <div class="group-label">State</div>
    <div class="ab chips-input">
      <ng-container *ngTemplateOutlet="chipsInput; 
        context: { controlName: controlNamePrefix + 'States', placeholder: 'Input states' }">
      </ng-container>
    </div>
  </div>

  <div class="group">
    <div class="group-label">Country</div>
    <div class="ab chips-input">
      <ng-container *ngTemplateOutlet="chipsInput; 
        context: { controlName: controlNamePrefix + 'Countries', placeholder: 'Input countries' }">
      </ng-container>
    </div>
  </div>

  <div class="group">
    <div class="group-label">Zip code</div>
    <div class="ab chips-input">
      <ng-container *ngTemplateOutlet="chipsInput; 
        context: { controlName: controlNamePrefix +  'ZipCodes', placeholder: 'Input zip codes' }">
      </ng-container>
    </div>
  </div>

</ng-template>