<div class="h3-wrapper">
  <mat-icon>info</mat-icon>
  <h3>Persona {{persona.order}}</h3>
</div>

<div class="wrapper"
     [formGroup]="form">

  <div class="controls-wrapper">
    <div>
      <span mat-icon-button
            [matMenuTriggerFor]="removeMenu"
            aria-label="Remove persona">
        <mat-icon>more_vert</mat-icon>
      </span>
      <mat-menu #removeMenu="matMenu">
        <button mat-menu-item
                (click)="removePersona(persona.id)">
          <mat-icon>delete</mat-icon>
          <span>Remove persona</span>
        </button>
      </mat-menu>
      <ab-toggle [value]="persona.active"
                 (toggle)="change(['active'], $event)">
      </ab-toggle>
    </div>
    <ab-arrow [expanded]="form.value.expanded['block']"
              (toggle)="toggleItem('block')">
    </ab-arrow>
  </div>

  <div class="text-edit"
       [ngClass]="!persona.active && 'block-disabled'">
    <h1 *ngIf="!form.value.nameEdit">
      {{persona.name}}
    </h1>
    <mat-icon *ngIf="!form.value.nameEdit && persona.active"
              (click)="toggleNameEdit(form.value.nameEdit, nameEdit)">
      edit
    </mat-icon>
    <input [hidden]="!form.value.nameEdit"
           #nameEdit
           maxlength="50"
           [disabled]="!persona.active"
           [value]="persona.name"
           (keydown.escape)="toggleNameEdit(form.value.nameEdit, nameEdit); nameEdit.value = persona.name;"
           (keyup.enter)="nameEdit.blur()"
           (blur)="nameEditBlur(['name'], form.value.nameEdit, nameEdit, $event)">
  </div>

  <p [ngClass]="!persona.active && 'block-disabled'">
    {{persona.contacts ? persona.contactsCount : 34}} contacts
  </p>

  <div class="block-wrapper"
       [ngClass]="!persona.active && 'block-disabled'"
       *ngIf="form.value.expanded['block']">

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('contacts')">
        <h4>
          <mat-icon>person</mat-icon>
          Contacts attributes
        </h4>
        <ab-arrow [expanded]="form.value.expanded['contacts']"
                  (toggle)="toggleItem('contacts')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['contacts']"
           [@slideInOut]>

        <div class="group">

          <div class="group-label">Job department</div>

          <mat-form-field class="ab"
                          [floatLabel]="'never'">

            <mat-select placeholder="Select job department"
                        (selectionChange)="change(['contactsAttributes', 'jobDepartment'], $event.value)"
                        [value]="persona.contactsAttributes.jobDepartment"
                        [disabled]="!persona.active"
                        multiple>

              <mat-select-trigger>
                <mat-chip-list abTagsTruncate
                               [disabled]="!persona.active">
                  <mat-chip *ngFor="let job of persona.contactsAttributes.jobDepartment"
                            [removable]="true"
                            (removed)="tagRemove(['contactsAttributes', 'jobDepartment'], job)">
                    {{job}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let job of selectOptions.jobDepartment"
                          [value]="job">
                {{job}}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>

        <div class="group">

          <div class="group-label">Job title</div>

          <mat-radio-group aria-label="Select an option"
                           class="radio-group ab chips-input"
                           [value]="persona.contactsAttributes.jobTitle.condition"
                           (change)="change(['contactsAttributes', 'jobTitle', 'condition'], $event.value)"
                           [disabled]="!persona.active">

            <mat-radio-button [value]="condition.isAnyOf">
              Contains
            </mat-radio-button>

            <ng-container *ngIf="persona.contactsAttributes.jobTitle.condition===condition.isAnyOf">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { pathTo: ['contactsAttributes', 'jobTitle', 'keywords'], placeholder: 'Input job titles' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.isNoneOf">
              Doesn't contain
            </mat-radio-button>

            <ng-container *ngIf="persona.contactsAttributes.jobTitle.condition===condition.isNoneOf">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { pathTo: ['contactsAttributes', 'jobTitle', 'keywords'], placeholder: 'Input job titles' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.isKnown">
              Is known
            </mat-radio-button>

            <mat-radio-button [value]="condition.isUnknown">
              Is unknown
            </mat-radio-button>

          </mat-radio-group>

        </div>

        <div class="group">

          <div class="group-label">Seniority</div>

          <mat-form-field class="ab"
                          [floatLabel]="'never'">

            <mat-select placeholder="Select seniority"
                        [value]="persona.contactsAttributes.seniority"
                        (selectionChange)="change(['contactsAttributes', 'seniority'], $event.value)"
                        [disabled]="!persona.active"
                        multiple>

              <mat-select-trigger>
                <mat-chip-list abTagsTruncate
                               [disabled]="!persona.active">
                  <mat-chip *ngFor="let level of persona.contactsAttributes.seniority"
                            [removable]="true"
                            (removed)="tagRemove(['contactsAttributes', 'seniority'], level)">
                    {{level}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let level of selectOptions.seniority"
                          [value]="level">
                {{level}}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('contactLocation')">
        <h4>
          <mat-icon>person_pin_circle</mat-icon>
          Contact Location
        </h4>
        <ab-arrow [expanded]="form.value.expanded['contactLocation']"
                  (toggle)="toggleItem('contactLocation')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['contactLocation']"
           [@slideInOut]>

        <ng-container *ngTemplateOutlet="location; 
           context: { parent: 'contactLocation' }">
        </ng-container>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('company')">
        <h4>
          <mat-icon>corporate_fare</mat-icon>
          Company attributes
        </h4>
        <ab-arrow [expanded]="form.value.expanded['company']"
                  (toggle)="toggleItem('company')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['company']"
           [@slideInOut]>

        <div class="group">

          <div class="group-label">Revenue</div>

          <mat-radio-group aria-label="Select an option"
                           class="radio-group ab chips-input"
                           [disabled]="!persona.active"
                           [value]="persona.companyAttributes.revenue.condition"
                           (change)="change(['companyAttributes', 'revenue', 'condition'], $event.value)">

            <mat-radio-button [value]="condition.isAnyOf">
              Is between
            </mat-radio-button>

            <div class="range-inputs-wrapper"
                 *ngIf="persona.companyAttributes.revenue.condition===condition.isAnyOf">
              <label>
                <input (blur)="inputBlur(['companyAttributes', 'revenue', 'min'], $event)"
                       (change)="$event.stopPropagation()"
                       mask="000000000000000">
              </label>
              <span>and</span>
              <label>
                <input mask="000000000000000"
                       (change)="$event.stopPropagation()"
                       (blur)="inputBlur(['companyAttributes', 'revenue', 'max'], $event)">
              </label>
            </div>

            <mat-radio-button [value]="condition.isKnown">
              Is known
            </mat-radio-button>

            <mat-radio-button [value]="condition.isUnknown">
              Is unknown
            </mat-radio-button>

          </mat-radio-group>

        </div>

        <div class="group">

          <div class="group-label">Funding stage</div>

          <mat-form-field class="ab"
                          [floatLabel]="'never'">

            <mat-select placeholder="Select funding stage"
                        [disabled]="!persona.active"
                        [value]="persona.companyAttributes.fundingStage"
                        (selectionChange)="change(['companyAttributes', 'fundingStage'], $event.value)"
                        multiple>

              <mat-select-trigger>
                <mat-chip-list abTagsTruncate
                               [disabled]="!persona.active">
                  <mat-chip *ngFor="let stage of persona.companyAttributes.fundingStage"
                            [removable]="true"
                            (removed)="tagRemove(['companyAttributes', 'fundingStage'], stage)">
                    {{stage}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let stage of selectOptions.fundingStage"
                          [value]="stage">
                {{stage}}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>

        <div class="group">

          <div class="group-label">Number of employees</div>

          <mat-form-field class="ab"
                          [floatLabel]="'never'">

            <mat-select placeholder="Select number of employees"
                        [disabled]="!persona.active"
                        [value]="persona.companyAttributes.numberOfEmployees"
                        (selectionChange)="change(['companyAttributes', 'numberOfEmployees'], $event.value)"
                        multiple>

              <mat-select-trigger>
                <mat-chip-list abTagsTruncate
                               [disabled]="!persona.active">
                  <mat-chip *ngFor="let number of persona.companyAttributes.numberOfEmployees"
                            [removable]="true"
                            (removed)="tagRemove(['companyAttributes', 'numberOfEmployees'], number)">
                    {{number}}
                    <mat-icon matChipRemove>close</mat-icon>
                  </mat-chip>
                </mat-chip-list>
              </mat-select-trigger>

              <mat-option *ngFor="let number of selectOptions.numberOfEmployees"
                          [value]="number">
                {{number}}
              </mat-option>

            </mat-select>

          </mat-form-field>

        </div>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('companyLocation')">
        <h4>
          <mat-icon>place</mat-icon>
          Company Location
        </h4>
        <ab-arrow [expanded]="form.value.expanded['companyLocation']"
                  (toggle)="toggleItem('companyLocation')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['companyLocation']"
           [@slideInOut]>

        <ng-container *ngTemplateOutlet="location; 
           context: { parent: 'companyLocation' }">
        </ng-container>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('industry')">
        <h4>
          <mat-icon>business_center</mat-icon>
          Industry
        </h4>
        <ab-arrow [expanded]="form.value.expanded['industry']"
                  (toggle)="toggleItem('industry')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['industry']"
           [@slideInOut]>

        <div class="group">

          <mat-radio-group aria-label="Select an option"
                           [disabled]="!persona.active"
                           class="radio-group ab chips-input"
                           [value]="persona.industry.condition"
                           (change)="change(['industry', 'condition'], $event.value)">

            <mat-radio-button [value]="condition.isAnyOf">
              Is any of
            </mat-radio-button>

            <ng-container *ngIf="persona.industry.condition===condition.isAnyOf">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { pathTo: ['industry', 'keywords'], placeholder: 'Input industries' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.isNoneOf">
              Is none of
            </mat-radio-button>

            <ng-container *ngIf="persona.industry.condition===condition.isNoneOf">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { pathTo: ['industry', 'keywords'], placeholder: 'Input industries' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.isKnown">
              Is known
            </mat-radio-button>

            <mat-radio-button [value]="condition.isUnknown">
              Is unknown
            </mat-radio-button>

          </mat-radio-group>

        </div>

      </div>

    </div>

    <div class="info-block">

      <div class="info-block-header"
           (click)="toggleItem('technologies')">
        <h4>
          <mat-icon>construction</mat-icon>
          Technologies
        </h4>
        <ab-arrow [expanded]="form.value.expanded['technologies']"
                  (toggle)="toggleItem('technologies')">
        </ab-arrow>
      </div>

      <div class="group-wrapper"
           *ngIf="form.value.expanded['technologies']"
           [@slideInOut]>

        <div class="group">

          <mat-radio-group aria-label="Select an option"
                           [disabled]="!persona.active"
                           class="radio-group ab chips-input"
                           [value]="persona.technologies.condition"
                           (change)="change(['technologies', 'condition'], $event.value)">

            <mat-radio-button [value]="condition.isAnyOf">
              Is any of
            </mat-radio-button>

            <ng-container *ngIf="persona.technologies.condition===condition.isAnyOf">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { pathTo: ['technologies', 'keywords'], placeholder: 'Input technologies' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.isNoneOf">
              Is none of
            </mat-radio-button>

            <ng-container *ngIf="persona.technologies.condition===condition.isNoneOf">
              <ng-container *ngTemplateOutlet="chipsInput; 
                context: { pathTo: ['technologies', 'keywords'], placeholder: 'Input technologies' }">
              </ng-container>
            </ng-container>

            <mat-radio-button [value]="condition.isKnown">
              Is known
            </mat-radio-button>

            <mat-radio-button [value]="condition.isUnknown">
              Is unknown
            </mat-radio-button>

          </mat-radio-group>

        </div>

      </div>

    </div>

  </div>

</div>

<ng-template #chipsInput
             let-pathTo="pathTo"
             let-placeholder="placeholder">
  <mat-form-field [floatLabel]="'never'">
    <mat-chip-list #chipList
                   [disabled]="!persona.active"
                   aria-label="Tags selection">
      <mat-chip *ngFor="let item of valueFromPath(pathTo)"
                [removable]="true"
                (removed)="tagRemove(pathTo, item)">
        {{item}}
        <mat-icon matChipRemove>close</mat-icon>
      </mat-chip>
      <input autocomplete="off"
             maxlength=30
             [placeholder]="placeholder"
             [matChipInputFor]="chipList"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="tagAdd(pathTo, $event)">
    </mat-chip-list>
  </mat-form-field>
</ng-template>

<ng-template #location
             let-parent="parent">

  <div class="group">
    <div class="group-label">City</div>
    <div class="ab chips-input">
      <ng-container *ngTemplateOutlet="chipsInput; 
        context: { pathTo: [parent, 'cities'], placeholder: 'Input cities' }">
      </ng-container>
    </div>
  </div>

  <div class="group">
    <div class="group-label">State</div>
    <div class="ab chips-input">
      <ng-container *ngTemplateOutlet="chipsInput; 
        context: { pathTo: [parent, 'states'], placeholder: 'Input states' }">
      </ng-container>
    </div>
  </div>

  <div class="group">
    <div class="group-label">Country</div>
    <div class="ab chips-input">
      <ng-container *ngTemplateOutlet="chipsInput; 
        context: { pathTo: [parent, 'countries'], placeholder: 'Input countries' }">
      </ng-container>
    </div>
  </div>

  <div class="group">
    <div class="group-label">Zip code</div>
    <div class="ab chips-input">
      <ng-container *ngTemplateOutlet="chipsInput; 
        context: { pathTo: [parent, 'zipCodes'], placeholder: 'Input zip codes' }">
      </ng-container>
    </div>
  </div>

</ng-template>