<div class="head">

  <div class="header">
    <h4>Insights</h4>
    <h2>Prospect</h2>
  </div>

  <mat-form-field>
    <mat-select value="1">
      <mat-option value="1"> Last 3 months </mat-option>
      <mat-option value="2"> Something else </mat-option>
    </mat-select>
  </mat-form-field>

</div>

<div class="insight-tabs">
  <mat-tab-group disablePagination="true">
    <mat-tab label="Activities">
      <div class="tab-content">
        Select activity type
      </div>
    </mat-tab>
    <mat-tab label="Opportunities">
      <div class="tab-content">
        Select opportunity type
      </div>
    </mat-tab>
  </mat-tab-group>
</div>