@use '../../../../styles/variables' as var;

.head {
  
  margin: 5px 0 0;
  display: flex;
  justify-content: space-between;  
  align-items: center;
  height: 55px;
  
  .header {

    height: auto;
    margin: 0;

    h4 {
      font-size: 10px;
      font-weight: 500;
      letter-spacing: 0.17px;
      line-height: normal;
      color: var.$grey;
      text-transform: uppercase;
      margin: 0;
    }
  
    h2 {

      font-size: 18px;
      font-weight: 500;
      letter-spacing: 0.3px;
      line-height: normal;
      color: var.$aqua;
      margin: 0;
      display: inline-flex;

      button {

        width: 20px;
        height: 30px;
        font-size: 14px;

        .mat-icon {
          font-size: 15px;
          font-weight: 600;
          line-height: 0.3;
        }

      }

    }

  }

}

.mat-tab-group {

  border-radius: 4px;
  border: solid 1px var.$lightGrey2;
  background-color: white;

  .tab-content {

    padding: 10px;
    font-size: 10px;
    color: var.$grey;

    .filter {

      display: flex;
      justify-content: space-between;
      margin: 5px 0 10px;

      input[type=checkbox] {
        display: none;
      }

      input[type=checkbox] + label:hover { 
        cursor: pointer;
      }

      input[type=checkbox] + label {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        color: var.$grey;
        font-size: 10px;
        width: 84px;
        height: 24px;
        border-radius: 4px;
        background-color: var.$lightGrey3;
        fa-icon {
          margin-right: 10px;
        }
      } 

      input[type=checkbox]:checked + label {
        color: white;
        background-color: var.$aquaVariant3;
      }

    }

    .activity {

      border-radius: 4px;
      border: solid 1px var.$grey8;
      padding: 10px;
      margin-bottom: 10px;

      .date {
        fa-icon {
          color: var.$blue1;
          margin-right: 5px;
        }
      }

      .from-to {

        margin: 5px 0 8px;
        font-weight: 500;
        color: var.$richBlack2;
        line-height: 1.2;
        letter-spacing: 0.17px;
        display: flex;
        justify-content: space-between;

        div {
          width: 50%;
          span {
            color: var.$grey;
            font-weight: normal;
            display: block;
          }
        }

      }

      .caption {
        font-size: 14px;
        font-weight: bold;
        line-height: 1.29;
        letter-spacing: 0.23px;
        color: var.$richBlack2;
        margin: 5px 0 10px;
      }

      .valuation {
        margin: -5px 0 6px;
        font-size: 16px;
        font-weight: bold;
        line-height: normal;
        letter-spacing: 0.27px;
        color: var.$aquaVariant3;
      }

      .text {
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: 0.2px;
        color: var.$richBlack2;
        margin-bottom: 10px;
      }

      .response {
        margin-top: -4px;
        font-weight: 500;
        color: var.$aquaVariant3;
      }

    }

  }

}

.mat-form-field {
  width: 120px;

}

.mat-select {
  width: 120px;
  height: 33px;
  border-radius: 4px;
  border: solid 1px var.$grey7;
  font-size: 12px;
  font-weight: 500;
  color: var.$richBlack2;
  background-color: white;
  padding: 9px;
}
