@import "../../styles/variables";

.main-container {
  display: flex;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.sidenav {

  position: relative;
  width: 67px;
  height: 100vh;
  color: white;
  background-color: $darkBlue;
  transition: width 125ms cubic-bezier(0.4,0.0,0.2,1);

  &:hover .collapse .mat-icon {
    opacity: 1;
  }

  .collapse {

    width: auto;
    text-align: right;
    position: absolute;
    top: 52px;
    right: -15px;
  
    .mat-icon {
      background: $darkBlue;
      color: whitesmoke;
      width: 26px;
      height: 26px;
      line-height: 26px;
      font-size: 18px;
      border-radius: 50px;
      text-align: center;
      cursor: pointer;
      border: 1px solid lighten($darkBlue, 40%);
      opacity: 0;
      transition: 0.4s ease-in-out;
      &:hover {
        background-color: darken($lightBlue, 20%);
      }
    }
    
  }

  .autobound{
    background: url(/assets/img/autobound.png) no-repeat center;
    background-size: contain;
    margin: 20px 20px 30px;
    width: 28px;
    height: 28px;
  }

  &.expanded {
    width: 220px;
    .submenu {
      margin-left: 20px;
    }
  }

  .sidenav-container {

    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;

    a {
      width: 100%;
      text-align: left;
      padding-left: 24px;
    }

    a.active {
      color: $lightBlue;
      border-radius: 0;
    }

    .mat-icon {
      font-size: 19px;
      margin-top: 5px;
    }

    a.mat-button {
      font-weight: 400;
      margin-top: 4px;
    }

    .menu {
      overflow: hidden auto;
    }

    .photo {
      margin: auto 18px 30px;
      width: 32px;
      height: 32px;
      border-radius: 50%;
      border: 1px solid whitesmoke;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      cursor: pointer;
      img {
        width: 32px;
        height: 32px;
      }
    }

  }

}

.main-content {

  width: 100%;
  display: flex;
  overflow: auto;
  background-color: $lightGrey;

  .router-outlet {
    width: 100%;
    margin: 0 20px;
  }

}

