<ng-container *ngIf="model$ | async as model">

  <div class="main-container"
       #sidenav
       *ngIf="{ expanded: false, submenuExpanded: false } as uiState">

    <div class="sidenav"
         [ngClass]="uiState.expanded && 'expanded'">
      <div class="collapse">
        <mat-icon (click)="uiState.expanded=!uiState.expanded">
          {{!uiState.expanded ? 'chevron_right' : 'chevron_left'}}
        </mat-icon>
      </div>
      <div class="sidenav-container">
        <div class="autobound"></div>
        <div class="menu">
          <div *ngFor="let menuItem of navbarMenu">
            <a mat-button
               [routerLink]="['/', menuItem.path]"
               [routerLinkActive]="'active'">
              <img [src]="'/assets/img/' + menuItem.icon"
                   [matTooltip]="menuItem.title"
                   matTooltipPosition="right">
              <span>
                {{uiState.expanded ? menuItem.title : ''}}
              </span>
              <div class="callout"
                   *ngIf="menuItem.path === navbarMenu[2].path">
                {{model.contactsToCall}}
              </div>
            </a>
          </div>
        </div>
        <div class="photo-container">
          <div mat-button
               class="photo"
               [matMenuTriggerFor]="menu"
               [matTooltip]="model.firstName + ' ' + model.lastName"
               matTooltipPosition="right">
            <img src="{{api.getAttachment(model.image)}}"
                 alt="Current user's picture">
          </div>
          <span *ngIf="uiState.expanded">
            {{model.firstName + ' ' + model.lastName}}
          </span>
        </div>
        <mat-menu #menu="matMenu">
          <button mat-menu-item
                  [routerLink]="'/settings'">
            Settings
          </button>
          <button mat-menu-item
                  (click)="logout()">
            Logout
          </button>
        </mat-menu>
      </div>
    </div>

    <div class="main-content"
         [ngClass]="uiState.expanded && 'expanded'">

      <div class="router-outlet"
           [@routerFadeAnimation]="o.isActivated ? o.activatedRoute : ''">
        <router-outlet #o="outlet"></router-outlet>
      </div>

    </div>

  </div>

</ng-container>