@use '../variables' as var;

body {
  
  .mat-checkbox-inner-container {
    width: 14px;
    height: 14px;
  }

  .mat-checkbox-frame, 
  .mat-checkbox-background {
    border-radius: 3px;
  }

}

.red-snackbar .mat-button-wrapper {
  color: var.$red;
}

.mat-option {

  &.mat-selected:not(.mat-option-disabled) {
    color: var.$aqua !important;
  }

  .mat-pseudo-checkbox-checked, .mat-pseudo-checkbox-indeterminate {
    background-color: var.$aqua;
  }

  .mat-pseudo-checkbox {
    width: 14px;
    height: 14px;
  }

  .mat-pseudo-checkbox-checked::after {
    width: 6px;
    height: 2px;
  }

}

.ab {

  .mat-select {

    width: 100%;
    height: 33px;
    border-radius: 4px;
    border: solid 1px var.$grey7;
    font-size: 12px;
    font-weight: 500;
    color: var.$richBlack2;
    background-color: white;
    padding: 6px;

    .mat-select-trigger {
      min-height: 20px;
    }

  }

  &.chips-input .mat-chip-list-wrapper {

    background-color: white;
    border-radius: 4px;
    border: solid 1px var.$grey7;
    margin: 0;
    padding: 2px;
    min-height: 33px;

    input.mat-chip-input {
      font-size: 12px;
      width: 30px;
      flex: 1 0 30px;
    }

  }

  .mat-form-field-underline {
    display: none;
  }
  
  .mat-select-arrow {
  
    border: none;
    
    &::after {
      font-family: "Material Icons"; 
      content: "keyboard_arrow_down";
      font-size: 16px;
      line-height: 0;
      position: absolute;
      right: -3px;
    }

  }

  .mat-select-value {
    vertical-align: middle;
    line-height: normal;
  }

  .mat-chip, .mat-standard-chip.mat-chip-with-trailing-icon {

    display: inline-flex;
    min-height: 20px;
    border-radius: 2px;
    background-color: var.$lightGrey4;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.17px;
    color: var.$aqua;
    padding: 5px;

    .mat-icon {
      font-size: 10px;
      color: var.$grey11;
      height: auto;
      width: auto;
      opacity: unset;
      margin-left: 6px;
    }

  }

  .mat-select-placeholder {
    display: none !important;
  }
    
  .mat-form-field-label {
    font-size: 10px;
    opacity: 0.5;
    margin: 16px 0 0 9px;
  }

  .mat-radio-container {

    width: 18px;
    height: 18px;

    .mat-radio-outer-circle {
      border-width: 1px;
      border-color: var.$grey10;
    }

  }

}

.insight-tabs {
  
  .mat-tab-label {
    width: 141px;
    height: 30px;
    background-color: var.$grey2;
    min-width: unset;
    font-size: 10px;
    text-transform: uppercase;
  }

  .mat-tab-label:first-child {
    border-right: solid 1px var.$lightGrey2;
  }

  .mat-tab-label-active {
    background-color: white;
  }

  .mat-ink-bar {
    display: none;
  }

  .mat-tab-body-content {
    overflow: hidden;
  }

}
