$darkBlue: #1d2b49;
$lightBlue: rgb(89, 153, 203);
$red: #F06292;
$richBlack: #222f58;
$richBlack2: #262631;
$blueBlack: #292059;
$richWhite: #e8e7ef;
$darkViolet: #514f67;
$greyViolet: #83819e;
$darkAqua: #448fdc;
$lightAqua: #49c5ef;
$aquaVariant1: #4092cb;
$aquaVariant2: #539cd0;
$aqua: #1d81cf;
$lightGrey: #f8f9fa;
$lightGrey2: #dee2f2;
$grey: #7b8092;
$darkGrey: #f5f6fa;