$darkBlue: #1d2b49;
$lightBlue: #5999cb;
$red: #F06292;
$brightRed: #fe5d83;
$richBlack: #222f58;
$richBlack2: #262631;
$richBlack3: #5d6184;
$blueBlack: #292059;
$richWhite: #e8e7ef;
$darkViolet: #514f67;
$greyViolet: #83819e;
$darkAqua: #448fdc;
$lightAqua: #49c5ef;
$aquaVariant1: #4092cb;
$aquaVariant2: #539cd0;
$aquaVariant3: #2db2e6;
$aqua: #1d81cf;
$lightGrey: #f8f9fa;
$lightGrey2: #dee2f2;
$lightGrey3: #f5f6fa;
$lightGrey4: #e6efff;
$grey: #7b8092;
$grey2: #eaedf5;
$grey3: #edeff6;
$grey4: #b7bed8;
$grey5: #7a819c;
$grey6: #abaec7;
$grey7: #dbe0f3;
$grey8: #d5d9eb;
$grey9: #757ea4;
$grey10: #9fa7c2;
$grey11: #6f78a0;
$grey12: #dfe3f2;
$blue1: #4d6ace;
$blue2: #7ba3f3;
$blue3: #0f3488;
$red2: #db6161;
$green: #49ad64;