<ab-login-template *ngIf="model$ | async as model">

  <h1>Recover using Email</h1>

  <h3 *ngIf="!model.error">
    Please enter your email and we'll <br>
    send you a recovery link.
  </h3>

  <h3 *ngIf="model.error"
      class="error">
    {{model.error}}
  </h3>

  <form [formGroup]="form"
        class="form"
        *ngIf="{ passwordShow: false } as uiState">

    <div class="form-field last">
      <label for="email">
        <mat-icon>email</mat-icon>
        Email
      </label>
      <input id="email"
             type="text"
             required
             [ngClass]="form.get('email')?.dirty 
                          && form.get('email')?.invalid 
                          && 'error'"
             placeholder="Enter Your Email"
             formControlName="email">
    </div>

    <button class="large"
            type="button"
            [disabled]="form.invalid || model.loading"
            (click)="recovery(form.value)">
      Submit
    </button>

    <div class="centered">
      <a [routerLink]="['/' + route.login]">
        Back to Login
      </a>
    </div>

  </form>

</ab-login-template>