@use '../../styles/variables' as var;

@mixin h3-text {
  font-size: 12px;
  font-weight: bold;
  line-height: 1.17;
  letter-spacing: 0.2px;
  color: var.$grey10;
  text-transform: uppercase;
}

@mixin p-text {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.2px;
  color: var.$grey9;
}

.container {

  display: flex;
  justify-content: center;

  .column {

    padding-top: 20px;
    min-width: 150px;
    flex-grow: 1;

    h2 {
      font-size: 18px;
      font-weight: normal;
      letter-spacing: 0.3px;
      color: var.$richBlack2;
      margin-bottom: 0;
    }

    h3 {
      @include h3-text;
    }

    p {
      @include p-text;
      margin-bottom: 18px;
    }

    &.left {

      width: 250px;
      max-width: 400px;
      margin-right: 20px;

      .add-persona {

        // border: 2px dotted var.$grey4;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 6px;
        margin: 10px 0;
        padding: 15px;
        background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='6' ry='6' stroke='rgb(183,190,216)' stroke-width='5' stroke-dasharray='4%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

        button {

          color: var.$grey4;

          .mat-icon {
            font-size: 18px;
            width: auto;
            height: auto;
            margin-right: 5px;
            font-weight: bold;
          }
  
          span {
            font-size: 20px;
            font-weight: bold;
          }

        }

      }

    }

    &.right {
      width: 1082px;
      max-width: 1400px;
      padding: 20px;
      border-left: solid 1px var.$grey4;
    }

  }

}

.personas-list {
  max-width: 100%;
  min-height: 60px;
  display: block;
  overflow: hidden;
}

.persona-item {

  // border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  // background: var.$lightGrey;
  font-size: 14px;

  &:not(:first-child) {
    padding-top: 12px;
  }

  &:focus {
    outline: none;
  }

}

/* .cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
} */

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.persona-item:last-child {
  border: none;
}

.personas-list.cdk-drop-list-dragging .persona-item:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.persona-drag-placeholder {
  // background: #eee;
  // border: dotted 2px #999;
  position: relative;
  min-height: 60px;
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
