<p>personas works!</p>
<p>this is persona {{currentRoute$ | async}}</p>

<mat-form-field>

  <mat-label>Toppings</mat-label>

  <mat-select [formControl]="toppingsControl"
              multiple>

    <mat-select-trigger>
      <mat-chip-list autoboundTagsTruncate>
        <mat-chip *ngFor="let topping of toppingsControl.value"
                  [removable]="true"
                  (removed)="onToppingRemoved(topping)">
          {{topping}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
      </mat-chip-list>
    </mat-select-trigger>

    <mat-option *ngFor="let topping of toppingList"
                [value]="topping">{{topping}}</mat-option>

  </mat-select>

</mat-form-field>

<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList
                 aria-label="Fruit selection">
    <mat-chip *ngFor="let topping of toppingList">
      {{topping}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input placeholder="New topping..."
           [matChipInputFor]="chipList"
           [matChipInputAddOnBlur]="true"
           (matChipInputTokenEnd)="add($event)">
  </mat-chip-list>
</mat-form-field>

<div class="draggable"
     cdkDrag>
  Drag me
</div>

<ng-container *ngIf="model$ | async as model">

  <mat-form-field>
    <mat-label>Search</mat-label>
    <input matInput
           (keyup)="applyFilter($event)"
           placeholder="Filter prospects">
  </mat-form-field>

  <table mat-table
         [dataSource]="model.prospects"
         matSort
         class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        Name
      </th>
      <td mat-cell
          *matCellDef="let element">
        {{element.name}}
      </td>
    </ng-container>

    <ng-container matColumnDef="title">
      <th mat-header-cell
          *matHeaderCellDef
          mat-sort-header>
        Title
      </th>
      <td mat-cell
          *matCellDef="let element">
        {{element.title}}
      </td>
    </ng-container>

    <tr mat-header-row
        *matHeaderRowDef="displayedColumns">
    </tr>
    <tr mat-row
        *matRowDef="let row; columns: displayedColumns;">
    </tr>

  </table>

</ng-container>

<mat-paginator [pageSizeOptions]="[10, 25, 50, 100]"
               [length]="(model$ | async)?.prospects.length"
               showFirstLastButtons>
</mat-paginator>