<div class="container"
     *ngIf="model$ | async as model">

  <div class="column left">

    <h2>Personas ({{model.personas?.length}})</h2>

    <p>Purpose: Define personas who would impact a purchasing decision of your product(s).</p>

    <div cdkDropList
         class="personas-list"
         (cdkDropListDropped)="drop($event, model.personas)">

      <div class="persona-item"
           *ngFor="let persona of model.personas; trackBy: trackByFn;"
           [routerLink]="['/persona/' + persona.id]"
           [routerLinkActive]="'active'"
           cdkDrag>
        <div class="persona-drag-placeholder"
             *cdkDragPlaceholder>
        </div>
        <ab-persona [persona]="persona"
                    [selectOptions]="model.selectOptions">
        </ab-persona>
      </div>

    </div>

    <div class="add-persona">
      <button mat-button
              (click)="addPersona(model.personas[model.personas.length - 1]?.order || 0)">
        <mat-icon>add</mat-icon>
        <span>Add Persona</span>
      </button>
    </div>

  </div>

  <div class="column right"
       [@customFadeAnimation]="o.isActivated ? (o.activatedRoute.paramMap | async)?.get('personaId') : ''">
    <div class="empty"
         *ngIf="!(selectedPersona$ | async)">
      <mat-icon>person</mat-icon>
      <div>Select or create persona to see its contacts here.</div>
    </div>
    <router-outlet #o="outlet"></router-outlet>
  </div>

</div>