@use '../../styles/variables' as var;

@mixin card-item-subheader {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: 0.2px;
  color: var.$grey;
}

.mat-progress-bar {
  position: absolute;
}

.container {
  display: flex;
  justify-content: center;
  section {
    display: contents;
  }
}

.column {

  min-width: 150px;
  flex-grow: 1;

  & > h3 {
    margin: 20px auto 14px;
  }

  h3 {
    font-size: 18px;
    letter-spacing: 0.3px;
    line-height: normal;
    color: var.$richBlack2;
  }

  &.left {

    width: 250px;
    max-width: 375px;

    .accordion {

      margin-bottom: 10px;

      .accordion-card {

        border-radius: 4px;
        border: solid 1px var.$lightGrey2;
        background-color: white;
        padding: 16px 16px 19px 20px;

        &.expanded {
          border-radius: 4px 4px 0 0;
        }

        &.sub-item {

          border-radius: 0;
          border-top: none;
          display: flex;

          .picture {

            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
            
            img {
              width: 40px;
              height: 40px;
            }

          }

          .text-header {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.23px;
            color: var.$richBlack2;
            margin-bottom: 1px;
          }

          .text-subheader {
            @include card-item-subheader;
          }

        }

        &.sub-item:hover {
          cursor: pointer;
        }

        &.sub-item:active {
          outline: none;
        }

        &.sub-item:last-child {
          border-radius: 0 0 4px 4px;
        }

        .header {

          display: flex;
          justify-content: space-between;

          h3 {
            margin-bottom: 6px;
          }

        }   

        p {
          font-size: 12px;
          line-height: normal;
          letter-spacing: 0.2px;
          color: var.$grey;
          margin-bottom: 0;
        }

        &.active {
          outline: none;
          background-color: var.$lightGrey3;
        }

      }

    }

  }

}
