<ng-container *ngIf="model$ | async as model">

  <mat-progress-bar mode="indeterminate"
                    *ngIf="model.currentProspect.loading">
  </mat-progress-bar>

  <div class="container">

    <div class="column left"
         *ngIf="{'91': true} as expanded">

      <h3>
        Suggested Activities ({{model.suggestedActivities.length}})
      </h3>

      <div class="accordion"
           *ngFor="let suggested of model.suggestedActivities">

        <div class="accordion-card"
             [ngClass]="expanded[suggested.campaign_id] && 'expanded'">
          <div class="header">
            <h3>
              {{suggested.reason}}
            </h3>
            <div [ngClass]="expanded[suggested.campaign_id] && 'expanded'"
                 (click)="expanded[suggested.campaign_id] = !expanded[suggested.campaign_id]">
              <div class="arrow"></div>
            </div>
          </div>
          <p>{{suggested.prospects.length}} prospects</p>
        </div>

        <div *ngIf="expanded[suggested.campaign_id]"
             [@slideInOut]>
          <div class="accordion-card sub-item"
               [routerLink]="['/', 'autobot', prospect.id]"
               [routerLinkActive]="'active'"
               *ngFor="let prospect of suggested.prospects">
            <div class="picture">
              <img [src]="prospect.image || blankProfiilePic"
                   alt="Prospect's picture">
            </div>
            <div>
              <div class="text-header">
                {{prospect.name}}
              </div>
              <div class="text-subheader">
                {{prospect.title}}
              </div>
              <div class="text-subheader">
                {{prospect.company}}
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>

    <section [@customFadeAnimation]="o.isActivated ? (o.activatedRoute.paramMap | async)?.get('prospectId') : ''">
      <router-outlet #o="outlet"></router-outlet>
    </section>

  </div>

</ng-container>