<div class="container"
     *ngIf="model$ | async as model"
     [formGroup]="form">

  <div class="column left">

    <h3>
      Suggested Activities ({{model.suggestedActivities.length}})
    </h3>

    <div class="accordion"
         *ngFor="let suggested of model.suggestedActivities">

      <div class="accordion-card"
           [ngClass]="form.value.expanded[suggested.campaign_id] && 'expanded'">
        <div class="header">
          <h3>
            {{suggested.reason}}
          </h3>
          <div [ngClass]="form.value.expanded[suggested.campaign_id] && 'expanded'"
               (click)="toggleItem(suggested.campaign_id)">
            <div class="arrow"></div>
          </div>
        </div>
        <p>{{suggested.prospects.length}} prospects</p>
      </div>

      <div *ngIf="form.value.expanded[suggested.campaign_id]"
           [@slideInOut]>
        <div class="accordion-card sub-item"
             [routerLink]="['/', 'autobot', prospect.id]"
             [routerLinkActive]="'active'"
             *ngFor="let prospect of suggested.prospects">
          {{prospect.name}}
        </div>
      </div>

    </div>

  </div>

  <div class="column middle">
    <router-outlet></router-outlet>
    <div autoboundEditor
         formControlName="snippets"
         class="editor">
    </div>
    <div>
      <button mat-raised-button
              style="margin-right: 20px;"
              type="button"
              [disabled]="form.invalid"
              (click)="changeData()">
        Change Data
      </button>
      <button mat-raised-button
              type="button"
              [disabled]="form.invalid"
              (click)="getData(form.value)">
        Submit form
      </button>
    </div>
  </div>

  <div class="column right">
    <h3>
      Suggested Articles
    </h3>
  </div>

</div>