@import '../../styles/variables';

.container {
  display: flex;
  justify-content: center;
}

.column {

  min-width: 150px;
  flex-grow: 1;

  & > h3 {
    margin: 20px auto 14px;
  }

  &.left {

    width: 250px;
    max-width: 375px;

    h3 {
      font-size: 18px;
      letter-spacing: 0.3px;
      line-height: normal;
      color: $richBlack2;
    }

    .accordion {

      margin-bottom: 10px;
      height: auto;
      transition: height 1s ease-in-out;

      .accordion-card {

        border-radius: 4px;
        border: solid 1px $lightGrey2;
        background-color: white;
        padding: 16px 16px 19px 20px;

        &.expanded {
          border-radius: 4px 4px 0 0;
        }

        &.sub-item {

          border-radius: 0;
          border-top: none;
          display: flex;

          .picture {

            width: 40px;
            height: 40px;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 10px;
            
            img {
              width: 40px;
              height: 40px;
            }

          }

          .text-header {
            font-size: 14px;
            font-weight: 500;
            letter-spacing: 0.23px;
            color: $richBlack2;
            margin-bottom: 1px;
          }

          .text-subheader {
            font-size: 12px;
            font-weight: normal;
            font-style: italic;
            line-height: normal;
            letter-spacing: 0.2px;
            color: $grey;
          }

        }

        &.sub-item:hover {
          cursor: pointer;
        }

        &.sub-item:active {
          outline: none;
        }

        &.sub-item:last-child {
          border-radius: 0 0 4px 4px;
        }

        .header {

          display: flex;
          justify-content: space-between;

          h3 {
            margin-bottom: 6px;
          }

          div {

            margin-top: 2px;
            width: 18px;
            height: 18px;
            flex-shrink: 0;
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              cursor: pointer;
            }

            &.expanded {

              border-radius: 4px;
              background-color: $darkGrey;
              
              .arrow {
                transform: unset;
                transition: transform .5s;
                background-color: $aqua;
              }

            }

            &.arrow {
              margin: 0;
              background-color: $grey;
              width: 8px;
              height: 5px;
              transform: rotate(-180deg);
              transition: transform .5s;
              mask: url(/assets/img/arrow-icon.svg) no-repeat center;
            }

          }

        }   

        p {
          font-size: 12px;
          line-height: normal;
          letter-spacing: 0.2px;
          color: $grey;
          margin-bottom: 0;
        }

        &.active {
          outline: none;
          background-color: $darkGrey;
        }

      }

    }

  }

  &.middle {
    width: 760px;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    padding: 20px;
    button {
      margin-top: 20px;
    }
  }

  &.right {
    width: 282px;
    max-width: 423px;
  }

}
