@use '../../../styles/variables' as var;
@use '../autobot.component';

:host {
  display: inherit;
}

.accordion {

  margin: 20px 0 10px 0;

  &:nth-child(2) {
    margin-top: 15px;
  }

  .accordion-header {
    
    display: flex;
    
    @include autobot.arrow(20px);

    div, div.expanded {
      margin-right: 10px;
      background-color: white;
    }

    h3 {
      margin-bottom: 14px;
    }

  }

  .accordion-line {
    border-bottom: solid 1px var.$lightGrey2;
  }

  .accordion-card {

    border-radius: 4px;
    border: solid 1px var.$lightGrey2;
    background-color: white;
    padding: 20px 44px 12px 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    & > div:first-child {
      width: 31%;
    }

    .card-item {

      display: flex;
      
      .picture {

        flex-shrink: 0;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        overflow: hidden;
        margin-right: 15px;
        
        img {
          width: 60px;
          height: 60px;
        }

      }

      .card-item-header {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.27px;
        color: var.$richBlack2;
        margin-bottom: 5px;
      }

      .card-item-subheader {
        @include autobot.card-item-subheader;
      }

      .icons {

        margin-top: 15px;

        i {            
          display: inline-block;
          width: 15px;
          height: 15px;
          margin-right: 5px;
          &.linkedin {
            background: url(/assets/img/linkedin-icon.svg) no-repeat center;
          }  
          &.hubspot {              
            background: url(/assets/img/hubspot-icon.svg) no-repeat center;
          }
        }

      }
  
    }

    .card-chart {

      .card-chart-header {
        font-size: 12px;
        font-weight: bold;
        line-height: 1.17;
        letter-spacing: 0.2px;
        color: var.$grey;
        text-transform: uppercase;
        margin-bottom: 8px;
        span {
          font-size: 14px;
          color: var.$richBlack2;
        }
      }

      div {
        & > :first-child:not(span) {
          display: flex;
          align-items: center;
          margin-left: -5px;
        }
      }

    }

    &.articles {

      width: 100%;
      display: block;
      padding: 20px;

      .article {

        width: auto;
        font-size: 12px;
        line-height: 1.33;
        letter-spacing: normal;
        color: var.$richBlack2;
        padding-bottom: 5px;

        &:not(:first-child) {
          padding-top: 10px;
        }

        &:not(:last-child) {
          border-bottom: 1px solid var.$lightGrey2;
        }

        div {
          margin-bottom: 5px;
        }
  
        .leadin {
          font-size: 8px;
          font-weight: 500;
          color: var.$grey;
          
        }
  
        .caption {
          font-weight: 500;
          color: var.$aqua;
        }

      }

    }

  }

}

.middle {

  width: 760px;
  max-width: 1140px;
  margin: 0 20px;

  .sequence-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 10px 0;

    div {

      h3 {
        margin-bottom: 4px;
      }

      p {

        @include autobot.card-item-subheader;
        font-style: normal;
        margin: 0;

        span {
          color: var.$darkAqua;
          font-weight: 500;
        }

        span.autobound-icon {
          display: inline-block;
          background: url(/assets/img/autobound-small-logo.svg) no-repeat center;
          background-size: contain;
          width: 10px;
          height: 10px;
          margin-left: 3px;
        }

      }

      button {

        margin: 0px;
        height: 30px;
        border-radius: 5px;
        font-size: 12px;
        font-weight: 500;
        line-height: normal;
        box-shadow: none;

        &:first-child {
          width: 100px;
          color: var.$richBlack3;
          border: solid 1px var.$lightGrey2;
          background-color: var.$grey2;
          margin-right: 10px;
        }

        &:nth-child(2) {
          width: 110px;
          color: white;
          padding: 0;
          background-color: var.$aquaVariant3;
        }

      }

    }

  }

  .sequence-container {

    position: relative;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      border-left: 4px dotted var.$grey4;
      margin-left: 40px;
      height: 100%;
      z-index: -1;
    }

    .step-container {

      border-radius: 0 0 4px 4px;
      border: solid 1px var.$lightGrey2;
      border-top: none;
      background-color: white;
      position: relative;
      padding-top: 40px;
      
      &::before {
        content: 'Subject:';
        position: absolute;
        top: 20px;
        left: 25px;
        font-size: 12px;
        color: var.$grey;
      }
      
      &::after {
        content: 'Body:';
        position: absolute;
        top: 48px;
        left: 25px;
        font-size: 12px;
        color: var.$grey;
      }

      .editor {
        position: relative;
      }      

      .editor-vertical-panel {

        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: center;
        top: 50px;
        right: 0;
        width: 22px;
        height: 89px;
        background-color: var.$grey2;
        border-radius: 4px 0 0 4px;
        padding: 3px 0 0 2px;

        fa-icon {
          margin-bottom: 2px;
          font-size: 10px;
          color: var.$grey6;
          cursor: pointer;
        }

      }

      .editor-horizontal-panel {

        position: absolute;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        bottom: 7px;
        right: 0;
        width: 90px;
        height: 22px;

        fa-icon {
          margin-right: 12px;
          font-size: 12px;
          color: var.$richBlack3;
          cursor: pointer;
        }

      }

    }

    .branch {

      font-size: 12px;
      line-height: 1.33;
      letter-spacing: 0.2px;
      color: var.$grey5;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0 0 -15px;

      img {
        margin-left: 20px;
        &:first-child {
          margin: 10px -5px 0 10px;
        }
      }

    }

    .toolbar-top {

      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40.2px;
      border-radius: 4px 4px 0 0;
      border: solid 1px var.$lightGrey2;
      background-color: var.$grey3;

      div:first-child {
        
        span {

          font-size: 14px;
          letter-spacing: 0.23px;

          &:first-child {

            color: var.$grey;

            i.info {
              display: inline-block;
              width: 13px;
              height: 13px;
              margin: 1px 6px -2px 20px;
              background: url(/assets/img/info-icon.svg) no-repeat center;             
            }

          }

          &:nth-child(2) {

            font-weight: 500;
            color: var.$richBlack2;
            margin-left: 20px;

            fa-icon {
              color: var.$aquaVariant3;
              margin-right: 7px;
            }
  
          }

        }

      }

      div:nth-child(2) {
        @include autobot.arrow(20px);
        padding: 8px 10px 10px;
        div.expanded {
          background-color: white;
        }
      }

    }

    .toolbar-top:nth-child(3) {
      margin: 40px 0;
    }

  }

  button {
    margin-top: 20px;
  }

}

.right {
  width: 282px;
  max-width: 423px;
}
