<div class="column middle"
     [formGroup]="form">

  <p>current prospect is {{currentRoute$ | async}}</p>

  <x-chartist [type]="type"
              [options]="chartOptions"
              [data]="chartData">
  </x-chartist>

  <div autoboundEditor
       formControlName="snippets"
       class="editor">
  </div>

  <div>
    <button mat-raised-button
            style="margin-right: 20px;"
            type="button"
            [disabled]="form.invalid"
            (click)="changeData()">
      Change Data
    </button>
    <button mat-raised-button
            type="button"
            [disabled]="form.invalid"
            (click)="getData(form.value)">
      Submit form
    </button>
  </div>

</div>

<div class="column right">
  <h3>
    Suggested Articles
  </h3>
</div>