@use '../../../styles/variables' as var;
@use '../autobot.component';

:host {
  display: inherit;
}

.middle {

  width: 760px;
  max-width: 1140px;
  margin: 0 20px;
  
  .accordion {

    margin: 20px 0 10px 0;

    &:nth-child(2) {
      margin-top: 15px;
    }

    .accordion-header {
      
      display: flex;
      
      @include autobot.arrow(20px);

      div, div.expanded {
        margin-right: 10px;
        background-color: white;
      }

      h3 {
        margin-bottom: 14px;
      }

    }

    .accordion-line {
      border-bottom: solid 1px var.$lightGrey2;
    }

    .accordion-card {

      border-radius: 4px;
      border: solid 1px var.$lightGrey2;
      background-color: white;
      padding: 20px 44px 12px 15px;
      display: flex;
      justify-content: space-between;


      & > div:first-child {
        width: 31%;
      }

      .card-item {

        display: flex;
        
        .picture {

          flex-shrink: 0;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 15px;
          
          img {
            width: 60px;
            height: 60px;
          }

        }

        .card-item-header {
          font-size: 16px;
          font-weight: 500;
          letter-spacing: 0.27px;
          color: var.$richBlack2;
          margin-bottom: 5px;
        }

        .card-item-subheader {
          @include autobot.card-item-subheader;
        }

        .icons {

          margin-top: 15px;

          i {            
            display: inline-block;
            width: 15px;
            height: 15px;
            margin-right: 5px;
            &.linkedin {
              background: url(/assets/img/linkedin-icon.svg) no-repeat center;
            }  
            &.hubspot {              
              background: url(/assets/img/hubspot-icon.svg) no-repeat center;
            }
          }

        }
    
      }

      .card-chart {

        .card-chart-header {
          font-size: 12px;
          font-weight: bold;
          line-height: 1.17;
          letter-spacing: 0.2px;
          color: var.$grey;
          text-transform: uppercase;
          margin-bottom: 8px;
          span {
            font-size: 14px;
            color: var.$richBlack2;
          }
        }

        div {
          & > :first-child:not(span) {
            display: flex;
            align-items: center;
            margin-left: -5px;
          }
        }

      }

    }

  }

  .sequence-header {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0 10px 0;

    div {

      h3 {
        margin-bottom: 4px;
      }

      p {

        @include autobot.card-item-subheader;
        font-style: normal;
        margin: 0;

        span {
          color: var.$darkAqua;
          font-weight: 500;
        }

        span.autobound-icon {
          display: inline-block;
          background: url(/assets/img/autobound-small-logo.svg) no-repeat center;
          background-size: contain;
          width: 10px;
          height: 10px;
          margin-left: 3px;
        }

      }

      button {
        margin: 0px;
        &.mat-button-base {
          background-color: var.$grey2;
          margin-right: 10px;
        }
        &.mat-primary {
          background-color: var.$aquaVariant3;
        }
      }

    }

  }

  .sequence-container {

    position: relative;
    z-index: 0;

    &::before {
      content: '';
      position: absolute;
      border-left: 4px dotted var.$grey4;
      margin-left: 40px;
      height: 100%;
      z-index: -1;
    }

    .editor {

      border-radius: 4px;
      border: solid 1px var.$lightGrey2;
      background-color: white;
      
      .editor-container {
        padding-left: 100px;
      }

    }

    .toolbar {

      margin-top: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40.2px;
      border-radius: 4px;
      border: solid 1px var.$lightGrey2;
      background-color: var.$grey3;

      div:first-child {
        
        span {

          font-size: 14px;
          letter-spacing: 0.23px;

          &:first-child {

            color: var.$grey;

            i.info {
              display: inline-block;
              width: 13px;
              height: 13px;
              margin: 1px 6px -2px 20px;
              background: url(/assets/img/info-icon.svg) no-repeat center;             
            }

          }

          &:nth-child(2) {

            font-weight: 500;
            color: var.$richBlack2;
            margin-left: 20px;

            i {
              color: var.$aquaVariant3;
              margin-right: 7px;
            }
  
          }

        }

      }

      div:nth-child(2) {
        @include autobot.arrow(20px);
        padding: 8px 10px 10px;
        div.expanded {
          background-color: white;
        }
      }

    }

    .toolbar:nth-child(3) {
      margin: 40px 0;
    }

  }

  button {
    margin-top: 20px;
  }

}

.right {
  width: 282px;
  max-width: 423px;
}
